*{ padding: 0; margin: 0; box-sizing: border-box;}
html,body { height: 100%; width: 100%; }

.App { text-align: center; }
.App-logo { height: 40vmin; pointer-events: none; }
.App-header { background-color: #282c34; min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: calc(10px + 2vmin); color: white; }

.App-link { color: #61dafb; }

.submenu { display: none; }

/* styles.css */
.main-menu { max-height: 300px; overflow-y: auto; width: 300px; border-radius: 8px; border: 1px solid #ddd; }
.category-item { font-size: 15px; font-weight: 500; padding-top: 8px; padding-bottom: 8px; cursor: pointer; background-color: white; }

.category-item:hover { background-color: #f1f1f1; }

.has-children .arrow { font-size: 12px; margin-left: 5px; }

ul.dropdown-menu { border: none; box-shadow: none; }

ul.dropdown-menu ul.dropdown-menu { margin-left: 10px; border-left: 2px dashed #343a40; padding-left: 10px; }

a { text-decoration: none !important; color: white !important; }
tr>td>img { max-width: 156px; }
table tr td textarea { padding: 10px; }

td,
th { padding: 14px !important; vertical-align: middle !important; white-space: nowrap; }
.profile_img { max-width: 150px; max-height: 80px; box-sizing: border-box; object-fit: cover; }
.divider:after,
.divider:before { content: ""; flex: 1; height: 1px; background: #eee; }
.login-container { margin: 0 auto; max-width: 410px; padding: 2rem 1.5rem; border-radius: 0.5rem; background: #fff; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
.login-container .form-title { text-align: center; font-size: 1.37rem; font-weight: 600; margin-bottom: 1.87rem; }
.login-container .social-login { display: flex; gap: 1.31rem; }
.social-login .social-button { display: flex; gap: 0.81rem; width: 100%; font-size: 1rem; font-weight: 500; cursor: pointer; padding: 0.75rem 0; border-radius: 0.31rem; align-items: center; justify-content: center; background: #F9F8FF; border: 1px solid #D5CBFF; transition: 0.3s ease; }
.social-login .social-button:hover { border-color: #5F41E4; background: #f1eff9; }
.social-login .social-button .social-icon { width: 23px; }

.login-container .separator { position: relative; margin: 1.5rem 0; text-align: center; background: #fff; }

.login-container .separator span { z-index: 1; font-weight: 500; color: #6652BE; position: relative; background: #fff; font-size: 1.06rem; padding: 0 0.9rem; }

.login-container .separator::after { content: ""; position: absolute; left: 0; top: 50%; height: 1px; width: 100%; background: #bfb3f2; }

.login-form .input-wrapper { height: 54px; width: 100%; position: relative; margin-bottom: 1.5rem; }

.login-form .input-field { width: 100%; height: 100%; outline: none; font-size: 1.06rem; border-radius: 0.31rem; border: 1px solid #bfb3f2; padding: 0px 1.25rem 0 3.12rem; transition: 0.2s ease; }

.login-form .input-field:focus { border-color: #5F41E4; }

.login-form .input-field::placeholder { color: #9284c8; }

.login-form .input-wrapper i { position: absolute; top: 50%; height: 100%; display: flex; color: #a395e0; align-items: center; transform: translateY(-50%); transition: 0.2s ease; }

.login-form .input-wrapper i:not(.eye-icon) { left: 0.93rem; pointer-events: none; }

.login-form .input-field:focus~i:not(.eye-icon) { color: #5F41E4; }

.login-form .input-wrapper i.eye-icon { display: none; right: 0.93rem; color: #917DE8; cursor: pointer; font-size: 1.25rem; }

.login-form .input-wrapper .input-field:valid~.eye-icon { display: flex; }

.login-form .forgot-password-link { display: block; width: fit-content; margin-top: -0.44rem; }

.login-form .login-button { border: none; outline: none; width: 100%; height: 54px; color: #fff; font-size: 1.125rem; font-weight: 500; cursor: pointer; margin-top: 2.19rem; border-radius: 0.31rem; background: #5F41E4; transition: 0.3s ease; }

.login-form .login-button:hover { background: #4320df; }

.login-container .signup-prompt { text-align: center; font-size: 1.06rem; font-weight: 500; margin: 1.75rem 0 0.31rem; }

.login-container a { color: #5F41E4; font-weight: 500; text-decoration: none; }

.login-container a:hover { text-decoration: underline; }
.thumbnail_img { max-width: 150px; max-height: 50px; object-fit: cover;}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {  animation: App-logo-spin infinite 20s linear; }
}


.validationError { color: red; }


body.swal2-height-auto { height: 100% !important; }
.image_display .image_view {width: 100%; display: flex; gap: 20px; align-items: center; ; }
.image_display .image_view .product_image { object-fit: contain; }
.image_display .image_view .main-image-layout { display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: column; }
/* .image_display .image_view .product_image { max-height: 80px; box-sizing: border-box; object-fit: cover; } */
/* .product_image_viewer { height: 100%; width: 100%; position: absolute; background: #5f5d5d; left: 0; top: 0; overflow: hidden;}
.product_image_viewer .slider-container .product_image { max-width: 500px; height: 500px; object-fit: cover; }
.product_image_viewer .image_slider{ display: flex; justify-content: center; }
.content-area { position: relative; overflow-x: hidden; } */

.active { font-size: 14px; color: rgb(21, 128, 61); background-color: rgba(162, 221, 182, 0.547); font-weight: bold; border-radius: 4px; padding: 4px;}
.deactive {font-size: 14px; color: red;  background-color: rgba(255, 153, 153, 0.547); font-weight: bold; border-radius: 5%; padding: 4px; }



/* user website css */
.container { max-width: 1620px !important; margin: 0 auto; }
.main-wrapper { height: 100%; width: 100%; position: relative;}
.main-header { width: 100%;  margin-top: 32px;}
.main-header .header-wrapper { display:  flex; justify-content: space-between; align-items: center;  width: 100%;}

.main-header .header-wrapper .header-title h1 { font-size: 60px; color: black; font-weight: bold; }
.main-header .header-wrapper .user-buttons { display: flex; }
.main-header .header-wrapper .user-buttons .profile button { padding: 14px 30px; border-radius: 70px; background-color: #FFFFFF; font-size: 18px; color: black; border: 1px solid black; transition: all 0.3s ease-in-out; }
.main-header .header-wrapper .user-buttons .profile button:hover { background-color: black; color: white; }
.main-header .header-wrapper .user-buttons .logout button { padding: 14px 30px; border-radius: 70px; background-color: black; font-size: 18px; color: white; border: 1px solid white; margin-left: 20px; transition: all 0.3s ease-in-out; } 
.main-header .header-wrapper .user-buttons .logout button:hover {  background-color: #FFFFFF; color: black; border: 1px solid black; }

/* User Product Page */

.main-product-section { margin: 80px 0; }
.main-product-section .main-product-view .product-heading {  text-align: center; }
.main-product-section .main-product-view .product-heading h2 { color: black; text-transform: uppercase; font-size: 64px; font-weight: 600;  line-height: 2;  }
.main-product-section .main-product-view  .product-view { margin-top: 64px; }
.main-product-section .main-product-view  .product-view .heading-filter { display: flex; justify-content: space-between; }
.main-product-section .main-product-view  .product-view .heading-filter .product-count p { color: black; }

/* .main-product-section .main-product-view  .product-view .list-products { margin-top: 32px;  width: 100%;  display: grid; gap: 33px; grid-template-columns: repeat(4, 1fr)} */
/* .main-product-section .main-product-view  .product-view .list-products .product-card { max-width: 380px; }  */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-detail { margin-top: 24px;  } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-detail h3 { color: black; font-size: 22px; font-weight: 600;  } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-detail p { color: black; font-size: 18px; font-weight: 600; } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-add-cart { margin-top: 16px; } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-img img { max-width: 380px; max-height: 380px; } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-add-cart button { background-color: white; width: 100%; color: black; font-weight: 500; font-size: 18px; transition: all 0.3s ease-in-out; border: 1px solid black; border-radius: 70px; padding: 14px 120px 14px 126px ; display: flex; justify-content: center; align-items: center;} */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-add-cart button span { padding-left: 16px; } */
/* .main-product-section .main-product-view  .product-view .list-products .product-card .product-add-cart button:hover {  background-color: black; color: white; border: 1px solid white; } */





.main-product-section .main-product-view  .product-view .list-products ul li  { cursor: pointer; list-style-type: none; border: 1px solid black; margin: 10px 0; padding: 10px 25px; transition: all 0.3s ease-in-out;}
.main-product-section .main-product-view  .product-view .list-products ul li:hover { background-color: black; color: white;}


.category-product-main-section { margin-top: 60px; }
.category-product-main-section .main-section button { padding: 8px 32px; border: 1px solid black; background-color: white;  display: flex; justify-content: center; align-items: center; transition: all 0.3s ease-in-out;}
.category-product-main-section .main-section button span { padding-right: 10px; }
.category-product-main-section .main-section button:hover { background-color: black;  color: white; }
.category-product-main-section .main-section .category-detail { margin-top: 25px; }
.category-product-main-section .main-section .category-product { margin-top: 50px; }



ol, ul { padding-left: 0!important; margin: 0; }

/* Common Product Cart */
.list-products { margin-top: 32px;  width: 100%;  display: grid; gap: 33px; grid-template-columns: repeat(4, 1fr)} 
.list-products .category-list {   max-width: 200px; }
.list-products .product-card { max-width: 380px; } 
.list-products .product-card .product-detail { margin-top: 24px;  }
.list-products .product-card .product-detail h3 { color: black; font-size: 22px; font-weight: 600;  }
.list-products .product-card .product-detail p { color: black; font-size: 18px; font-weight: 600; }
.list-products .product-card .product-add-cart { margin-top: 16px; }
.list-products .product-card .product-img img { max-width: 380px; max-height: 380px; }
.list-products .product-card .product-add-cart button { background-color: white; width: 100%; color: black; font-weight: 500; font-size: 18px; transition: all 0.3s ease-in-out; border: 1px solid black; border-radius: 70px; padding: 14px 120px 14px 126px ; display: flex; justify-content: center; align-items: center;}
.list-products .product-card .product-add-cart button span { padding-left: 16px; }
.list-products .product-card .product-add-cart button:hover {  background-color: black; color: white; border: 1px solid white; }




.product-detail-section { margin-top: 80px; }
.product-detail-section .back-to-page button{ padding: 14px 50px; background-color: white; color: black; border: 1px solid black;  transition: all 0.3s ease-in-out; border-radius: 32px;}
.product-detail-section .back-to-page button:hover { background-color: black; color: white;}
.product-detail-section .main-section { display: grid; justify-content: space-between; align-items: center;    grid-template-columns: 2fr 1fr ;}
.product-detail-section .main-section .product-information { max-width: 720px; }
.product-detail-section .main-section .product-information .product-name { margin-top: 24px; }
.product-detail-section .main-section .product-information .product-name h2 span{ font-size: 64px; font-weight: 700; line-height: 2.01; }
.product-detail-section .main-section .product-information .product-inner-detail { margin-top: 16px; }
.product-detail-section .main-section .product-information .product-inner-detail .regular_price span { font-size: 28px; text-decoration: line-through; }
.product-detail-section .main-section .product-information .product-inner-detail .price span{ font-size: 32px; font-weight: 500;  }
.product-detail-section .main-section .product-information .product-inner-detail .quantity { font-size: 18px;  margin-top: 24px; }
.product-detail-section .main-section .product-information .product-inner-detail .quantity span { font-weight: bold; }
.product-detail-section .main-section .product-information .product-inner-detail .slogan { font-size: 18px; margin-top: 24px;}
.product-detail-section .main-section .product-information .product-inner-detail .slogan span { font-weight: bold; } 
.product-detail-section .main-section .product-information .product-company-info { margin-top: 24px;  }
.product-detail-section .main-section .product-information .product-company-info .company-heading { font-size: 34px; font-weight: bold;}
.product-detail-section .main-section .product-information .product-company-info .product-brand{ font-size: 24px;  }
.product-detail-section .main-section .product-information .product-company-info .product-brand span { font-weight: bold; }
.product-detail-section .main-section .product-information .product-company-info .product-company { font-size: 24px; }
.product-detail-section .main-section .product-information .product-company-info .product-company span { font-weight: bold; } 
.product-detail-section .main-section .product-information button { background-color: white; width: 100%; color: black; font-weight: 500; font-size: 18px; transition: all 0.3s ease-in-out; border: 1px solid black; border-radius: 70px; padding: 14px 120px; display: flex; justify-content: center; align-items: center;}
.product-detail-section .main-section .product-information button span { padding-left: 16px; }
.product-detail-section .main-section .product-information button:hover {  background-color: black; color: white; border: 1px solid white; }

.product-detail-section .main-section .product-slider .carousel-content { max-width: 780px; max-height: 780px;  }
.product-detail-section .main-section .product-slider .carousel-content .product-image { height: 100%; width: 100%; }
/* .product-detail-section .main-section .product-slider .carousel-content .product-image .images {  max-height: 490px; max-width: 550px; } */
.product-detail-section .main-section .product-slider .carousel-content .product-image .images img{  max-width: 780px; max-height:780px ; object-fit: cover;}